<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936171320422-3vq3pp57qs2erlouedvpe7ca99qij7m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936171320422-3vq3pp57qs2erlouedvpe7ca99qij7m3</string>
	<key>API_KEY</key>
	<string>AIzaSyBy7P4k_MZOfdnkKAbHc5X_0o2ol3KM6fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>936171320422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppKumu.BizOTR</string>
	<key>PROJECT_ID</key>
	<string>bizotr-d2919</string>
	<key>STORAGE_BUCKET</key>
	<string>bizotr-d2919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936171320422:ios:58c9f94e1cfaeb6644e9a7</string>
	<key>DATABASE_URL</key>
	<string>https://bizotr-d2919.firebaseio.com</string>
</dict>
</plist>